* {
    margin: 0;
    box-sizing: border-box; 
  }
  
  body {
    font-family: "Roboto", sans-serif;
    /* sopacity: 0.5; */
  }

  a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    margin-left: 40px;
  }
  
  
  a:hover{
  
    color: green;
    
    
  }
  
  .dropdown-content {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
   
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    border-radius: 5%;
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 2px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding:4px;
    margin: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .dropbtn:hover{
    color: green;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(84, 79, 79);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #4dbf00;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
  
  .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    
  }
  
  .left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .left-menu-icon:hover{
    cursor: pointer;
    color: green;
  }
  
  #searchbar{
    width: 100vh;
    height: 4.5vh;
    float: left;
    font-size: 1.2em;
    border-color: black;
    border-width: .3vh;
    position: fixed;
    z-index: 1;
    left: 55px;
    top: 65px;
    display:none; 
  }

  
  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }
  
  .content-container {
    margin-left: 50px;
  }
  
  .featured-content {
    height: 50vh;
    padding: 10px;
    
  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 650px;
    color: #fff;
    margin:auto;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #fff;

  }
  
  .featured-button {
    background-color: #6c6969;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
  }

.featured-button:hover {
    background-color:  #4dbf00;
    cursor: pointer;
  
  }
.form-button{
  display: inline-block;
}
  
  .movie-list-container {
    padding: 0 20px;
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
    background: black;
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button ,
  .movie-list-item:hover .movie-list-item-button1 {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .movie-list-item-button1{
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    margin-left: 40px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 120px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }

  

  .arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  .dropbtn.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }

  a:hover.active{
  
    color: green;
    
    
  }
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  }







.form-popup {
  display: none; 
  position: fixed;  
  text-align: left; 
  top: 32%;
  left: 42%;
  z-index: 9;
}



.form-container {
  min-width: 250px;
  max-width: 400px;
  padding: 10px;
  background-color: white;
}


.input{
  height: 40px;
  width: 100%;
  outline: none;
  margin-top: 15px ;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  
}
.input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
.input:focus::placeholder{
  color: #1a75ff;
}


